.add-recipe__form {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(12, 2rem) 1rem 2.5rem;
    grid-row-gap: 0.5rem;
}

.add-recipe__form label {
    padding-top: 1rem;
    font-weight: bold;
}

.add-recipe__form input,
.add-recipe__form select {
    font-size: 1rem;
}

.add-recipe__form input,
.add-recipe__form label,
.add-recipe__form select {
    display: block;
    width: 100%;
}

.add-recipe__form button {
    display: block;
    width: 8rem;
    margin: 0 auto;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9rem;
    border: 2px solid orangered;
    border-radius: 10px;
    background: cornsilk;
    cursor: pointer;
    grid-row: 14;
}

@media (min-width: 50rem) {
    .add-recipe__form {
        width: 30rem;
        margin: 0 auto;
        grid-template-rows: repeat(6, 2rem) 0rem 2.5rem;
        grid-template-columns: 10rem auto;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
    }

    .add-recipe__form label {
        padding-top: 0;
        font-weight: bold;
    }

    .add-recipe__form button {
        grid-row: 8;
        grid-column: span 2;
    }

    .add-recipe__form button:hover,
    .add-recipe__form button:active {
        transform: scale(1.1);
    }
}