.add-form {
    padding: 1rem;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
}

.add-form label {
    padding-top: 1rem;
    font-weight: bold;
}

.add-form input {
    font-size: 1rem;
}

.add-form input,
.add-form label,
.add-form select {
    display: block;
    width: 100%;
}

.add-form button {
    display: block;
    width: 8rem;
    margin: 0 auto;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9rem;
    border: 2px solid orangered;
    border-radius: 10px;
    background: cornsilk;
    cursor: pointer;
}

@media (min-width: 50rem) {
    .add-form {
        width: 30rem;
        margin: auto;
        grid-template-columns: 10rem auto;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
    }

    .add-form label {
        padding-top: 0;
        font-weight: bold;
    }

    .add-form button {
        grid-column: span 2;
    }

    .add-form button:hover,
    .add-form button:active {
        transform: scale(1.1);
    }
}