.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__brand a {
    text-decoration: none;
}

.header__brand--heading {
    margin: 0;
    padding: 0 1rem;
    font-family: 'Great Vibes', cursive;
    color: orangered;
}

.toggle-button {
    margin: 1.0625rem;
    padding: 2.5px;
    cursor: pointer;
    transform: rotateZ(0);
    transition: transform 300ms ease-out;
}

.rotated {
    transform: rotateZ(90deg);
}

@media (min-width: 50rem) {
    .toggle-button {
        display: none;
    }
}