.mobile-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 70%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    text-decoration: none;
    color: orangered;
    font-size: 1.5rem;
}

@media (min-width: 50rem) {
    .mobile-nav {
        display: none;
    }
}