.banner {
    height: 8rem;
    background: url('../../images/banner.jpg') 50% 65%/cover no-repeat border-box;
}

.recipes {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 50rem) {
    .banner {
        height: 24rem;
    }
}