.recipe__info,
.recipe__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__info--title {
    margin: 0 0 1rem 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 1.75rem;
}

.recipe__info--heading,
.recipe__details--heading {
    margin: 0;
    padding: 0.5rem;
}

.recipe__info--sides,
.recipe__details--ingredients {
    margin-top: 0;
    padding: 0;
}

.recipe__details--instructions {
    margin: 0;
}

.recipe__info--sides li,
.recipe__details--ingredients li,
.recipe__details--instructions li {
    margin: 0.5rem 0;
    font-family: 'EB Garamond', serif;
}

@media (min-width: 50rem) {
    .recipe__info,
    .recipe__details {
        width: 35%;
    }
}