.banner {
    height: 8rem;
    background: url('https://i.postimg.cc/7ZBVBXWh/banner.jpg') 50% 65%/cover no-repeat border-box;
}

.filters {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-message {
    margin-bottom: 0;
    padding-top: 1rem;
    text-align: center;
}

.recipes {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 50rem) {
    .banner {
        height: 24rem;
    }

    .filters {
        flex-direction: row;
    }
}