* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: 4.125rem auto fit-content(4.125rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
}

main {
    grid-area: main;
}

.backdrop {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s linear;
}

.main-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand {
    margin: 0;
    padding: 0 1rem;
    font-family: 'Great Vibes', cursive;
    color: orangered;
}

.main-nav {
    display: none;
}

.main-nav__items {
    display: flex;
    list-style: none;
}

.main-nav__item {
    margin: 0 1rem;
}

.toggle-button {
    margin: 1.0625rem;
    cursor: pointer;
    transform: rotateZ(0);
    transition: transform 300ms ease-out;
}

.mobile-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 70%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.5rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
}

.main-nav__item a {
    color: black;
}

.mobile-nav__item a {
    color: orangered;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: orangered;
    border-bottom: 2px solid orangered;
}

.banner {
    height: 24rem;
    background: url('./images/banner.jpg') 50% 65%/cover no-repeat border-box;
}

.recipes {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recipes__item {
    margin: 1rem 0.5rem;
    width: 25%;
    min-width: 300px;
    min-height: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linen;
    border: 2px solid orangered;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.recipes__item:hover,
.recipes__item:active {
    animation: push-up 1s ease-out forwards;
}

.recipes__item--title {
    margin: 0 0 1rem 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 1.75rem;
}

.recipes__item--meal,
.recipes__item--type {
    margin: 0;
    padding: 0.5rem;
    text-transform: capitalize;
}

.recipe {
    width: 80%;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: linen;
    border: 2px solid orangered;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recipe__info,
.recipe__details {
    width: 90%;
}

.recipe__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__info--title {
    margin: 0 0 1rem 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 1.75rem;
}

.recipe__info--heading,
.recipe__details--heading,
.recipes__item--heading {
    margin: 0;
    padding: 0.5rem;
}

.recipe__info--sides,
.recipe__details--ingredients {
    margin-top: 0;
    padding: 0;
}

.recipe__details--instructions {
    margin: 0;
}

.recipe__info--sides li,
.recipe__details--ingredients li,
.recipe__details--instructions li {
    margin: 0.5rem 0;
}

.button {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
}

.main-footer {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    grid-area: footer;
}

.open {
    transform: translateY(0) !important;
    pointer-events: auto !important;
    opacity: 1 !important;
}

.rotated {
    transform: rotateZ(90deg)
}

@media (min-width: 50rem) {
    .toggle-button {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .recipe {
        margin: 6rem auto;
        flex-direction: row;
    }

    .recipe__info,
    .recipe__details {
        width: 35%;
    }
}

@keyframes push-up {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-1.2rem);
    }
    100% {
        transform: translateY(-1rem);
    }
}