* {
  box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.main-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: linen;
    margin-top: 4.125rem;
    min-height: calc(100vh - 4.125rem - 4.125rem);
}

.main-header__brand {
    margin: 0;
}

.main-nav__items {
    display: flex;
    list-style: none;
}

.main-nav__item {
    margin: 0 1rem;
}

.recipes {
    padding: 9rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recipe {
    padding: 9rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recipes__item {
    margin: 1rem 0;
    text-align: center;
    width: 30%;
    min-width: 300px;
}

.recipe__info,
.recipe__details {
    margin: 1rem 0;
    width: 25%;
    min-width: 300px;
}

.recipe__info {
    text-align: center;
}

.recipe__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes__item-title,
.recipe__info-title {
    margin: 0;
    padding: 1rem 0.5rem;
}

.recipes__item-meal,
.recipes__item-type,
.recipe__info-meal,
.recipe__info-type,
.recipe__details-title {
    margin: 0;
    padding: 0.5rem;
}

.recipe__details-ingredients {
    margin-top: 0;
    padding: 0;
}

.recipe__details-instructions {
    margin-top: 0;
}

.recipe__details-ingredients li,
.recipe__details-instructions li {
    margin: 0.5rem 0;
}

.main-footer {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}